.App {
  text-align: center; 
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 1%;
  background-color: #eae4e9;
}

.filler{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-left: 15%;
  height: 70vh;
  background-image: url('https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1075&q=80');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.filler h1 {
  padding: 2%;
  color: #212529;
  background-color: rgba(173, 203, 220, 0.2);
}

.details {
  width: 50%;
  margin: 3% 0 5% 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bottom {
  background-color: #eae4e9;
}



